.ubicacionLista {
    background: red;
    height: 91vh;
    overflow: auto;
    margin-bottom: 3%;
}

@media (max-width: 48em) {
    .ubicacionLista {
        max-height: 43vh;
        min-width: 340px;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.pronosticoTitulo {
    color: darkblue;
    text-align: center;
    padding-top: 2%;
}